[Desktop Entry]
Version=1.0
Type=Application
Name=Open WebUI - Start
Comment=Start Open WebUI and open in browser
Exec=env bash %%INSTALL_PATH%%/scripts/start-with-browser.sh
Icon=applications-internet
Terminal=true
Categories=Network;Application;

